<html>
<head>
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	<link rel="stylesheet" href="../static/styles.css">	
	<title>{{ translations_selected.get("Bowling Lane Schedule") }}</title>
</head>
<body>
	<form class="loginform" action="/login" method="post">
		<label for="username">{{ translations_selected.get("Username:") }}</label>
		<input type="text" id="username" name="username"><br><br>
		<label for="password">{{ translations_selected.get("Password:") }}</label>
		<input type="password" id="password" name="password"><br><br>
		<input class="addupdatereservationbutton" type="submit" value="Login">
	</form>
</body>
</html>
