<!DOCTYPE html>
<html>
<head>
    <title>{{ translations_selected.get("Add Bowling Data") }}</title>
	<!-- get scripts for date picker and import the styles.css-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/i18n/jquery-ui-i18n.min.js"></script>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body class="update-data">
    <h1>{{ translations_selected.get("Add Bowling Data") }}</h1>
    <form class="inlineform" method="POST" id="reservationForm">
        <label for="date">{{ translations_selected.get("Date") }}:</label>
        <input type="text" id="date" name="date" value="{{ date }}" required>

        <br><br>

        <label for="name">{{ translations_selected.get("Name") }}:</label>
        <input type="text" id="name" name="name" value="{{name }}" required>
        <button type="button" class="namebutton" id="no_name_button">{{ translations_selected.get("[Name unknown]") }}</button>
        <button type="button" class="namebutton" id="no_reservation_button">{{ translations_selected.get("[spontaneous]") }}</button>
        <br><br>

        <label for="start_time">{{ translations_selected.get("Start Time") }} (HH:MM):</label>
        <input type="time" step="1800" id="start_time" name="start_time" value="{{start_time.strftime('%H:%M')}}" required><br><br>

        <label for="duration">{{ translations_selected.get("duration (hours)") }}:</label>
        <input type="number" step="0.5" id="duration" name="duration" value="{{duration}}" required><br><br>

        <label for="players">{{ translations_selected.get("Number of Players") }}:</label>
        <input type="number" id="players" name="players" value="{{players}}" ><br><br>

		<label for="kids">{{ translations_selected.get("Kids Playing?") }}</label>
		<input type="checkbox" id="kids" name="kids" {% if kids == 1 %}checked{% endif %} value="1"><br><br>

		<label for="lanes">{{ translations_selected.get("Select Lane Number(s)") }}:</label><br>
		{% for lane in lanes %}
			<input type="checkbox" id="lane_{{ lane }}" name="lanes[]" value="{{ lane }}"
				{% if lane in lanes_selected.split(',')|map('int') %}checked{% endif %}>
			<label for="lane_{{ lane }}">{{ translations_selected.get("Lane") }} {{ lane }}</label><br>
		{% endfor %}
		<br>

        <label for="special_event">{{ translations_selected.get("Special Event") }}:</label>
		<select id="special_event" name="special_event">
			<option value="No" {% if specialevent == "No" %}selected{% endif %}>No</option>
			<option value="{{ translations_selected.get("Kid Birthday Variant 1") }}" {% if specialevent == translations_selected.get("Kid Birthday Variant 1") %}selected{% endif %}>{{ translations_selected.get("Kid Birthday Variant 1") }}</option>
			<option value="{{ translations_selected.get("Kid Birthday Variant 2") }}" {% if specialevent == translations_selected.get("Kid Birthday Variant 2") %}selected{% endif %}>{{ translations_selected.get("Kid Birthday Variant 2") }}</option>
        </select><br><br>
		<button class="addupdatereservationbutton" type="submit">{{ translations_selected.get("Save New Reservation") }}</button>
		<button class="backbutton" onclick="goBack(event)">{{ translations_selected.get("Back") }}</button>
    </form>
        <script>
	//get translations
	var translations = {
		defectiveLaneConfirmation:  "{{ translations_selected.get('A selected lane is defective. Do you want to proceed?') }}",
		bumperConfirmation:  "{{ translations_selected.get('Kids playing is indicated, but a selected lane does not have bumpers. Do you want to proceed?') }}",
		OverlapError: "{{ translations_selected.get('There is an overlap with an existing reservation for this lane. Please update this reservation.') }}",
		NoName:  "{{ translations_selected.get('[Name unknown]') }}",
		spontaneousName:  "{{ translations_selected.get('[spontaneous]') }}",
		NoLaneSelected: "{{ translations_selected.get('Please select at least one lane.') }}",
		}

	// listener for the type="submit" button to be pushed, which allows for validating the form and first check that at least one lane was selected
	document.getElementById('reservationForm').addEventListener('submit', function(event) {
    var selectedLanes = document.querySelectorAll('input[name="lanes[]"]:checked');
    if (selectedLanes.length === 0) {
        event.preventDefault(); // Prevent form submission
        alert(translations.NoLaneSelected);
    } else {
        // If lanes are selected, proceed with the reservation
        addReservation(); // Call the function to submit the form
    }
	});
	// function for the New Reservation button
    function addReservation() {
			document.getElementById('reservationForm').action = '/submit_data';
			document.getElementById('reservationForm').submit();
     }
    // function for the back button
    function goBack(event) {
		event.preventDefault();
		window.location.href = '/';
		}

	var defectiveconfirmation = false;
	var bumperconfirmation = false;
    var isDefectiveLane = {{ 'true' if is_defective_lane else 'false' }};
    var noBumperLane = {{ 'true' if no_bumper_lane else 'false' }};
    var Overlap = {{ 'true' if overlapping_reservation else 'false' }};
	//function for showing and handling the defective lane confirmation
    function showDefectiveLaneConfirmation() {
        defectiveconfirmation = confirm(translations.defectiveLaneConfirmation);
    }

    //function for showing and handling the kid on no bumper lane confirmation
    function showBumperConfirmation() {
       bumperconfirmation = confirm(translations.bumperConfirmation);
    }

    //function to add the reservation if all necessary confirmations are present
    function CheckConfirmations() {
		if ((defectiveconfirmation || !isDefectiveLane) && (bumperconfirmation || !noBumperLane)) {
			document.getElementById('reservationForm').action = '/confirm_adding_reservation';
			document.getElementById('reservationForm').submit();
		}
	}

	//function for showing and handling the error of an overlapping reservation
	function showOverlapError() {
		alert(translations.OverlapError);
	}
    // Check if the condition for booking on a defective lane is met
    if (isDefectiveLane) {
        showDefectiveLaneConfirmation();
        CheckConfirmations();
    }
    // Check if the condition for booking kids on a lane without bumpers is met
    if (noBumperLane) {
        showBumperConfirmation();
        CheckConfirmations();
    }
    // Check if there is an overlap with another reservation
    if (Overlap) {
        showOverlapError();
    }

	// listener for the "No Name" button
    document.getElementById('no_name_button').addEventListener('click', function() {
        // Set the name field value to "No Name"
        document.getElementById('name').value = translations.NoName;
    });

    // listener for the "spontaneous" button to set the name
    document.getElementById('no_reservation_button').addEventListener('click', function() {
        // Set the name field value to "spontaneous"
        document.getElementById('name').value = translations.spontaneousName;
    });
    // listener for the "spontaneous" button to set the start time to now
	document.getElementById('no_reservation_button').addEventListener('click', function() {
        var now = new Date();
        var minutes = now.getMinutes();
        var roundedMinutes = (minutes < 30) ? '00' : '30';
        var roundedTime = now.getHours() + ':' + roundedMinutes;
        document.getElementById('start_time').value = roundedTime;
    });
</script>
<!-- Load the language-specific datepicker settings -->
<script src="/../static/datepicker-languages.js"></script>
<script>
    // Load the language-specific datepicker settings based on preferred_language
    var preferredLanguage = '{{ preferred_language }}'; // Assuming this variable holds the language code

    // Set datepicker settings based on preferred language when the document is ready
    $(document).ready(function() {
        switch (preferredLanguage) {
            case 'de':
                setGermanDatepicker();
                break;
            case 'en':
                setEnglishDatepicker();
                break;
            case 'fr':
                setFrenchDatepicker();
                break;
            case 'it':
                setItalianDatepicker();
                break;
            case 'es':
                setSpanishDatepicker();
                break;
            default:
                // Default to English settings or any other fallback option
                setEnglishDatepicker();
                break;
        }
    });
</script>
</body>
</html>
