<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="refresh" content="20">

    <title>{{ translations_selected.get("Bowling Lane Schedule") }}</title>
	<!-- get scripts for datepicker, translation of datepicker and load the styles.css sheet-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/i18n/jquery-ui-i18n.min.js"></script>
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

	<link rel="stylesheet" href="../static/styles.css">
</head>
<body class="schedule">

<h1>{{ translations_selected.get("Bowling Lane Schedule for ") }}{{ translated_day }}, {{ requested_date.strftime('%d. ') }}{{ translated_month }} {{ requested_date.strftime('%Y') }}</h1>

<!-- Previous Date button-->
<form class="inlineform" action="{{ url_for('display_schedule', date=prev_date) }}">
	<button class="datebuttons">&lt;&lt;&lt;</button>
</form>

<!-- Today button-->
<form class="inlineform" action="/">
   	<button class="datebuttons">{{ translations_selected.get("Today") }}</button>
</form>

<!-- Next Date button-->
<form class="inlineform" action="{{ url_for('display_schedule', date=next_date) }}">
	<button class="datebuttons">&gt;&gt;&gt;</button>
</form>

<!-- Calendar Icon and Show Reservations button-->
<form class="inlineform" action="{{ url_for('display_schedule') }}" method="GET">
    <label for="datepicker" class="calendar-icon">
        <i class="fas fa-calendar-alt" onclick="$('#date').datepicker('show');"></i>
    </label>
    <input type="text" readonly id="datepicker" name="selected_date">
    <button class="datebuttons">{{ translations_selected.get("Show Reservations") }}</button>
</form>
<br>

<!-- New Reservation Button-->
<form class = "inlineform" action="{{ url_for('add_data') }}">
	<button class="addupdatereservationbutton">{{ translations_selected.get("Add Reservation") }}</button>
</form>
<!-- Daily Comment form -->
<form class = "inlineform" action="{{ url_for('update_dailycomment', date=requested_date.strftime('%Y-%m-%d')) }}" method="POST">
	<label class="dailycommenttext" for="dailycomment">{{ translations_selected.get("Daily Comment") }}</label>
    <textarea class = "dailycomment" id="dailycomment" name="dailycomment" rows="4" cols="40">{% if dailycomment %}{{ dailycomment }}</textarea>{% else %}</textarea>{% endif %}
    <button class="dailycommentbutton">{{ translations_selected.get("Update Comment") }}</button>
</form>
<br><br>
    <table>
        <tr>
			<!-- Generate Header with Time Slots for the indicated time frame in 30 minute intervals-->
            <th></th>
            {% for time_slot in time_slots %}
                <th>{{ "%02d:%02d" % ((time_slot // 60) % 24, time_slot % 60) }}</th>
            {% endfor %}
        </tr>
        <!-- Generate the Lane number title in the left column plus the "OK" and "Defective" buttons-->
        {% for lane in range(num_lanes) %}
            <tr data-lane="{{ lane + 1}}">
				<td class="laneheader"><div>
					<strong>{{ translations_selected.get("Lane") }} {{ lane + 1 }}</strong><br>
					<label class="ok-label">
						<input type="radio" id="lane_status_{{ lane + 1 }}_ok" name="lane_status_{{ lane + 1 }}" value="ok" {% if not lane_defective_states[lane] %}checked{% endif %}> {{ translations_selected.get("OK") }}
					</label>
					<label class="defective-label">
						<input type="radio" id="lane_status_{{ lane + 1 }}_defective" name="lane_status_{{ lane + 1 }}" value="defective" {% if lane_defective_states[lane] %}checked{% endif %}> {{ translations_selected.get("Defective") }}
					</label>
				</div></td>
				<!-- Interate through all time slots for a lane-->
                {% for time_slot in time_slots %}
					<!-- If a Reservation with a start time is found and is not "occupied"-->
                    {% if lane_reservations[lane][time_slot] %}
                        {% if lane_reservations[lane][time_slot] != 'occupied' %}
							<!-- Span the columns for the duration of the reservation and populate the cell with reservation data-->
                            <td colspan={{ lane_reservations[lane][time_slot]['duration_slots'] }} class="reservation">
								<a href="/update_data?id={{ lane_reservations[lane][time_slot]['id'] }}">
                                {{ lane_reservations[lane][time_slot]['name'] }}<br>
                                {% if lane_reservations[lane][time_slot]['players'] %}
									{{ lane_reservations[lane][time_slot]['players'] }} {{ translations_selected.get("players") }}
								{% endif %}
                                {% if lane_reservations[lane][time_slot]['kids'] == 1 %}
									{{ translations_selected.get("with kids") }} <br>
								{% endif %}
								{% if lane_reservations[lane][time_slot]['specialevent'] != "No" %}
									{{ lane_reservations[lane][time_slot]['specialevent'] }}
								{% endif %}
                            </td>
                        <!-- Don't draw another cell, when the reservation time is still ongoing and the lane is "occupied"-->
                        {% elif lane_reservations[lane][time_slot] == 'occupied'%}
                        <!-- If Lane is not occupied and no reservation exists, draw an empty cell-->
                        {% else %}
                            <td></td>
                        {% endif %}
                    {% else %}
                        <td></td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>

<script>
    // JavaScript for radio button event listeners for updating to defective state
    const defectiveRadioButtons = document.querySelectorAll('input[value="defective"]');
    defectiveRadioButtons.forEach(button => {
        button.addEventListener('change', function () {
            const row = this.closest('tr');
            const laneNumber = row.dataset.lane; // Get lane number from the row's data attribute

            if (this.checked) {
                row.classList.add('defective-row');
                updateDefectiveState(laneNumber, true);
            } else {
                row.classList.remove('defective-row');
                updateDefectiveState(laneNumber, false);
            }
        });
    });

    // JavaScript for radio button event listeners for updating to ok state
    const okRadioButtons = document.querySelectorAll('input[value="ok"]');
    okRadioButtons.forEach(button => {
        button.addEventListener('change', function () {
            const row = this.closest('tr');
            const laneNumber = row.dataset.lane; // Get lane number from the row's data attribute

            if (this.checked) {
                row.classList.remove('defective-row');
                updateDefectiveState(laneNumber, false);
            }
        });
    });

    // Additional script to apply formatting on page load
    document.addEventListener('DOMContentLoaded', function () {
        defectiveRadioButtons.forEach(button => {
            const row = button.closest('tr');
            if (button.checked) {
                row.classList.add('defective-row');
            }
        });
    });

    // Function to send AJAX request to update defective state
    function updateDefectiveState(laneNumber, isDefective) {
        $.ajax({
            type: 'POST',
            url: '/update_defective_state',
            data: { laneNumber: laneNumber, isDefective: isDefective.toString() },
            success: function (response) {
                console.log(response); // Log the server response (optional)
            },
            error: function (error) {
                console.error('Error updating defective state:', error);
            }
        });
    }
</script>
<script>
  //script for highlighting the current time slot in red for the current day
  var time_slots = {{ time_slots_str }};
  var headerRow = document.querySelector('tr:nth-child(1)'); // Select the first row (header row)
  var currentTime = new Date();
  var currentHour = currentTime.getHours();
  var currentMinute = currentTime.getMinutes();
  var currentTimeSlot = (currentHour * 60) + currentMinute;
  var requestedDate = new Date("{{ requested_date.strftime('%Y-%m-%d') }}");

  if (currentTime.toDateString() === requestedDate.toDateString()) {
    time_slots.forEach(function(timeSlot, index) {
      var nextTimeSlot = time_slots[index + 1] || time_slots[index] + 30; // Get the next time slot or add 30 minutes

      if (currentTimeSlot >= timeSlot && currentTimeSlot < nextTimeSlot) {
        var headerCell = headerRow.querySelectorAll('th')[index + 1]; // Get the corresponding header cell

        if (headerCell) {
          headerCell.style.backgroundColor = 'red'; // Highlight the header cell
          headerCell.style.color = 'white'; // Adjust text color for better visibility
        }
      }
    });
  }
</script>

<!-- Load the language-specific datepicker settings -->
<script src="/../static/datepicker-languages.js"></script>
<script>
    // Load the language-specific datepicker settings based on preferred_language
    var preferredLanguage = '{{ preferred_language }}'; // Assuming this variable holds the language code

    // Set datepicker settings based on preferred language when the document is ready
    $(document).ready(function() {
        switch (preferredLanguage) {
            case 'de':
                setGermanDatepicker();
                break;
            case 'en':
                setEnglishDatepicker();
                break;
            case 'fr':
                setFrenchDatepicker();
                break;
            case 'it':
                setItalianDatepicker();
                break;
            case 'es':
                setSpanishDatepicker();
                break;
            default:
                // Default to English settings or any other fallback option
                setEnglishDatepicker();
                break;
        }
    });
</script>

</body>
</html>
