<!DOCTYPE html>
<html>
<head>
    <title>{{ translations_selected.get("Update Bowling Data") }}</title>
	<!-- get scripts for date picker and import the styles.css-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/i18n/jquery-ui-i18n.min.js"></script>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body class="update-data">
    <h1>{{ translations_selected.get("Update Bowling Data") }}</h1>
    <form class="inlineform" method="POST" id="reservationForm">
        <label for="date">{{ translations_selected.get("Date") }}:</label>
        <input type="text" id="date" name="date" value="{{ date }}" required>

        <br><br>

        <label for="name">{{ translations_selected.get("Name") }}:</label>
        <input type="text" id="name" name="name" value="{{reservation.name }}" required><br><br>

        <label for="start_time">{{ translations_selected.get("Start Time") }} (HH:MM):</label>
        <input type="time" step="1800" id="start_time" name="start_time" value="{{reservation.start_time.strftime('%H:%M')}}" required><br><br>

        <label for="duration">{{ translations_selected.get("duration (hours)") }}:</label>
        <input type="number" step="0.5" id="duration" name="duration" value="{{reservation.duration}}" required><br><br>

        <label for="players">{{ translations_selected.get("Number of Players") }}:</label>
        <input type="number" id="players" name="players" value="{{reservation.players}}" ><br><br>

		<label for="kids">{{ translations_selected.get("Kids Playing?") }}</label>
		<input type="checkbox" id="kids" name="kids" {% if reservation.kids == 1 %}checked{% endif %} value="1"><br><br>

		<label for="lanes">{{ translations_selected.get("Select Lane Number(s)") }}:</label><br>
		{% for lane in lanes %}
			<input type="checkbox" id="lane_{{ lane }}" name="lanes[]" value="{{ lane }}"
				{% if lane in reservation.lanes.split(',')|map('int') %}checked{% endif %}>
			<label for="lane_{{ lane }}">{{ translations_selected.get("Lane") }} {{ lane }}</label><br>
		{% endfor %}
		<br>

        <label for="special_event">{{ translations_selected.get("Special Event") }}:</label>
		<select id="special_event" name="special_event">
			<option value="No" {% if reservation.specialevent == "No" %}selected{% endif %}>No</option>
			{% for event in list_of_events %}
			    <option value="{{ translations_selected.get(event) }}" {% if reservation.
					specialevent == translations_selected.get(event) %}selected{% endif %}>{{ translations_selected.get(event) }}</option>
		    {% endfor %}
		</select><br><br>

		<input type="hidden" id="reservation_id" name="reservation_id" value="{{ reservation.id }}">
		<input type="hidden" name="action" id="formAction" value="Update">

		<button class="addupdatereservationbutton" type="submit">{{ translations_selected.get("Update Reservation") }}</button>
		<button class="deletereservationbutton" onclick="deleteReservation()">{{ translations_selected.get("Delete Reservation") }}</button>
		<button class="backbutton" onclick="goBack(event)">{{ translations_selected.get("Back") }}</button>
    </form>
        <script>
	//get translations
	var translations = {
	NoLaneSelected: "{{ translations_selected.get('Please select at least one lane.') }}",
	}
	// listener for the type="submit" button to be pushed, which allows for validating the form and first check that at least one lane was selected
	document.getElementById('reservationForm').addEventListener('submit', function(event) {
    var selectedLanes = document.querySelectorAll('input[name="lanes[]"]:checked');
    if (selectedLanes.length === 0) {
        event.preventDefault(); // Prevent form submission
        alert(translations.NoLaneSelected);
    } else {
        // If lanes are selected, proceed with the reservation
        updateReservation(); // Call the function to submit the form
    }
});
	// function for the Update button
    function updateReservation() {
        document.getElementById('formAction').value = 'Update';
        document.getElementById('reservationForm').action = '/update_reservation';
        document.getElementById('reservationForm').submit();
    }
	// function for the Delete button
    function deleteReservation() {
		event.preventDefault();
        document.getElementById('formAction').value = 'Delete';
        document.getElementById('reservationForm').action = '/update_reservation';
        document.getElementById('reservationForm').submit();
    }
    // function for the back button
    function goBack(event) {
		event.preventDefault();
		window.history.back();
	}

	</script>
<!-- Load the language-specific datepicker settings -->
<script src="/../static/datepicker-languages.js"></script>
<script>
    // Load the language-specific datepicker settings based on preferred_language
    var preferredLanguage = '{{ preferred_language }}'; // Assuming this variable holds the language code

    // Set datepicker settings based on preferred language when the document is ready
    $(document).ready(function() {
        switch (preferredLanguage) {
            case 'de':
                setGermanDatepicker();
                break;
            case 'en':
                setEnglishDatepicker();
                break;
            case 'fr':
                setFrenchDatepicker();
                break;
            case 'it':
                setItalianDatepicker();
                break;
            case 'es':
                setSpanishDatepicker();
                break;
            default:
                // Default to English settings or any other fallback option
                setEnglishDatepicker();
                break;
        }
    });
</script>
</body>
</html>
